body {
    font-family: Arial, sans-serif;
    background-color: #f4f4f4;
    color: #333;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    height: 100vh;
    margin: 0;
}

.container {
    text-align: center;
    padding-top: 20px;
}

.dropdown {
    position: relative;
    display: inline-block;
    margin-bottom: 20px;
}

.dropdown-button {
    background-color: #4CAF50;
    color: white;
    padding: 10px 20px;
    font-size: 16px;
    border: none;
    cursor: pointer;
}

.dropdown-button:disabled {
    background-color: #ccc;
    cursor: not-allowed;
}

.dropdown-content {
    display: none;
    position: absolute;
    background-color: #f9f9f9;
    min-width: 160px;
    box-shadow: 0px 8px 16px 0px rgba(0,0,0,0.2);
    z-index: 1;
}

.dropdown-content a {
    color: black;
    padding: 12px 16px;
    text-decoration: none;
    display: block;
}

.dropdown-content a:hover {
    background-color: #f1f1f1;
}

.show {
    display: block;
}

.verse-display {
    margin-top: 20px;
    font-size: 60px;
    line-height: 1.5em;
    padding: 0px 100px;
}

body.dark-mode {
    background-color: #121212;
    color: #ffffff;
}

.container.dark-mode {
    background-color: #121212;
}

.dropdown-button.dark-mode {
    background-color: #333;
    color: #fff;
}

.verse-input.dark-mode label,
.verse-input.dark-mode input,
.verse-input.dark-mode button {
    background-color: #333;
    color: #fff;
}

.verse-display.dark-mode {
    background-color: #121212;
    color: #fff;
}

.bottom-buttons {
    position: fixed;
    bottom: 0;
    width: 100%;
    display: flex;
    justify-content: space-between;
    padding: 10px;
    background-color: #f4f4f4;
    box-shadow: 0 -2px 5px rgba(0,0,0,0.1);
}

.bottom-buttons button {
    background-color: #4CAF50;
    color: white;
    padding: 10px 20px;
    font-size: 16px;
    border: none;
    cursor: pointer;
}

.bottom-buttons.dark-mode {
    background-color: #333;
    color: #fff;
}